<style>
    .Element {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 1em;
        height: 300px;
        margin-bottom: 20px;
    }
</style>
<div style="display: flex; flex-direction: column; width: 100%; padding: 10px 0px">
    <div class="Element" style="background-color: lightskyblue;">
        <h2 style="color: #202020; align-self: center;">Class Schedule</h2>
    </div>
    <div class="Element" style="background-color: lightgreen; margin-bottom: 0px;">
        <h2 style="color: #202020; align-self: center;">Academic Calendar</h2>
    </div>
</div>