<link rel="stylesheet" href="../../public/css/student_portal.css">
<div style="display: flex; flex-direction: column; width: 100%; height: 100%">
  <div class="ElementsContainer" style="height: 150px;">
    <h3 style="align-self: center">ATTENDANCE</h3>
  </div>
  <div class="ElementsContainer" style="height: 100px; background-color: tan;">
    <h3 style="align-self: center">INDEX</h3>
  </div>
  <div class="ElementsContainer" style=" background-color: teal;">
    <h3 style="align-self: center;">DATASHEET</h3>
  </div>
</div>