<style>
    .GridContainerWrapper {
        display: flex;
        flex-direction: column;
    }

    .GridHeading {
        width: calc(100% - 60px);
        margin: 10px;
        padding: 0px 20px;
        border-radius: 1.5em;
        background-color: rosybrown;
        text-align: center;
    }

    .GridContainer {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
    }

    .GridContainer div {
        height: 100px;
        width: 100px;
        border-radius: 1em;
        background-color: lightsalmon;
        margin: 10px;
    }
</style>
<div style="display: flex; justify-content: space-between; width: 100%; padding: 10px 0px;">
    <div class="GridContainerWrapper">
        <div class="GridHeading">
            <h2>Administration</h2>
        </div>
        <div class="GridContainer">
            <% for(var i = 0; i < 12; i++) {%>
            <div></div>
            <% } %>
        </div>
    </div>
    <div class="GridContainerWrapper">
        <div class="GridHeading">
            <h2>Faculty</h2>
        </div>
        <div class="GridContainer">
            <% for(var i = 0; i < 12; i++) {%>
            <div></div>
            <% } %>
        </div>
    </div>
</div>