body {
  margin: 10px;
  background-color: black;
  color: white;
}

.align-center {
  text-align: center;
}

button {
  width: 100px;
  border: 5px;
  border-radius: 50px;
  background-color: darkgray;
  padding: 5%;
}

button:hover {
  background-color: pink;
}

.border {
  border-width: 2px;
  border-style: solid;
  border-radius: 5%;
  background-color: grey;
  padding: 35px;
}

.login-text {
  color: pink;
}

.faculty-login {
  position: absolute;
  top: 25%;
  left: 23%;
}

.student-login {
  position: absolute;
  top: 25%;
  right: 23%;
}
