body {
  margin: 0;
  background-color: #000000;
}

header .navigation {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 3vh;
  width: 100vw;
  height: 12vh;
  background-color: #131111;
}

.navigation ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navigation ul li {
  text-align: center;
  align-self: center;
}

.navigation ul li:hover {
  background-color: #312c2c;
}

.nav-link {
  text-decoration: none;
}

.nav-list {
  width: 10vw;
}

.student-info {
  background-color: #ffffff;
  width: 23.5vw;
  height: 47vh;
  display: flex;
  flex-direction: column;
  grid-area: student-info;
}

main {
  position: absolute;
  top: 15vh;
  left: 3vw;
  height: 85vh;
  width: 94vw;
  /* padding: 0; */
  display: grid;
  grid-template-columns: repeat(4, 23.5vw);
  grid-template-rows: repeat(3, 28.33vh);
  gap: 2vw;
  grid-template-areas:
    "student-info two three four"
    "student-info six seven eight"
    "nine ten eleven twelve";
}

.name {
  color: #474040;
  text-align: center;
}

.student-image {
  border-radius: 100%;
  height: 25vh;
  width: 25vh;
  align-self: center;
}
