<html lang="en">
  <link rel="stylesheet" href="/css/admin_portal.css">
  <body>
    <nav class="menu" tabindex="0">
      <header class="logo">
      <img src="/assets/IIIT_logo_dark.png">
      </header>
      <ul>
        <li class="tablinks" onclick="dashboard()">Dashboard</li>
        <li class="tablinks" onclick="student_edit()">Student</li>
        <li class="tablinks" onclick="faculty_edit()">Faculty</li>
        <li class="tablinks" onclick="admin_edit()">Admin</li>
        <li class="tablinks" onclick="club_edit()">Club</li>
        <li class="tablinks" onclick="research_edit()">Research</li>
        <li class="tablinks" onclick="subjects_edit()">Subjects</li>
        <a href="./logout" style="text-decoration: none; color:#ebdbb2;"><li class="tablinks">Logout</li></a>
      </ul>
    </nav>


    <!-- Student -->
    <form
      action="./admin_portal"
      method="POST"
      id="student_form"
      style="display: none;"
    >
      <label for="category">
        <input
          type="text"
          value="student"
          name="category"
          style="display: none;"
        />
      </label>
      <label for="id">
        <input type="text" placeholder="stud" name="id" required />
      </label>
      <button type="submit">SUBMIT</button>
    </form>
    
    <!-- Faculty -->
    <form
      action="./admin_portal"
      method="POST"
      id="faculty_form"
      style="display: none;"
    >
      <label for="category">
        <input
          type="text"
          value="faculty"
          name="category"
          style="display: none;"
        />
      </label>
      <label for="id">
        <input type="text" placeholder="fac" name="id" required />
      </label>
      <button type="submit">SUBMIT</button>
    </form>

    <!-- Admin -->
    <form
      action="./admin_portal"
      method="POST"
      id="admin_form"
      style="display: none;"
    >
      <label for="category">
        <input
          type="text"
          value="admin"
          name="category"
          style="display: none;"
        />
      </label>
      <label for="id">
        <input type="text" placeholder="20XXYYYZZZ" name="id" required />
      </label>
      <button type="submit">SUBMIT</button>
    </form>

    <!-- Club -->
    <form
      action="./admin_portal"
      method="POST"
      id="club_form"
      style="display: none;"
    >
      <label for="category">
        <input
          type="text"
          value="club"
          name="category"
          style="display: none;"
        />
      </label>
      <label for="id">
        <input type="text" placeholder="20XXYYYZZZ" name="id" required />
      </label>
      <button type="submit">SUBMIT</button>
    </form>

    <!-- Research -->
    <form
      action="./admin_portal"
      method="POST"
      id="research_form"
      style="display: none;"
    >
      <label for="category">
        <input
          type="text"
          value="research"
          name="category"
          style="display: none;"
        />
      </label>
      <label for="id">
        <input type="text" placeholder="res" name="id" required />
      </label>
      <button type="submit">SUBMIT</button>
    </form>

    <!-- Subjects -->
    <form
      action="./admin_portal"
      method="POST"
      id="subjects_form"
      style="display: none;"
    >
      <label for="category">
        <input
          type="text"
          value="subjects"
          name="category"
          style="display: none;"
        />
      </label>
      <label for="id">
        <input type="text" placeholder="Batch Code" name="id" required />
      </label>
      <button type="submit">SUBMIT</button>
    </form>

    <script>
      
      function dashboard() {
        document.getElementById("student_form").style.display = "none";
        document.getElementById("faculty_form").style.display = "none";
        document.getElementById("admin_form").style.display = "none";
        document.getElementById("club_form").style.display = "none";
        document.getElementById("research_form").style.display = "none";
        document.getElementById("subjects_form").style.display = "none";

      }

      function student_edit() {
        document.getElementById("student_form").style.display = "block";
        document.getElementById("faculty_form").style.display = "none";
        document.getElementById("admin_form").style.display = "none";
        document.getElementById("club_form").style.display = "none";
        document.getElementById("research_form").style.display = "none";
        document.getElementById("subjects_form").style.display = "none";

      }

      function faculty_edit() {
        document.getElementById("faculty_form").style.display = "block";
        document.getElementById("student_form").style.display = "none";
        document.getElementById("admin_form").style.display = "none";
        document.getElementById("club_form").style.display = "none";
        document.getElementById("research_form").style.display = "none";
        document.getElementById("subjects_form").style.display = "none";

      }

      function admin_edit() {
        document.getElementById("admin_form").style.display = "block";
        document.getElementById("faculty_form").style.display = "none";
        document.getElementById("student_form").style.display = "none";
        document.getElementById("club_form").style.display = "none";
        document.getElementById("research_form").style.display = "none";
        document.getElementById("subjects_form").style.display = "none";
      }

      function club_edit() {
        document.getElementById("club_form").style.display = "block";
        document.getElementById("student_form").style.display = "none";
        document.getElementById("faculty_form").style.display = "none";
        document.getElementById("admin_form").style.display = "none";
        document.getElementById("research_form").style.display = "none";
        document.getElementById("subjects_form").style.display = "none";
      }

      function research_edit() {
        document.getElementById("research_form").style.display = "block";
        document.getElementById("student_form").style.display = "none";
        document.getElementById("faculty_form").style.display = "none";
        document.getElementById("admin_form").style.display = "none";
        document.getElementById("club_form").style.display = "none";
        document.getElementById("subjects_form").style.display = "none";
      }

      function subjects_edit() {
        document.getElementById("subjects_form").style.display = "block";
        document.getElementById("student_form").style.display = "none";
        document.getElementById("faculty_form").style.display = "none";
        document.getElementById("admin_form").style.display = "none";
        document.getElementById("club_form").style.display = "none";
        document.getElementById("research_form").style.display = "none";
      }
    </script>
    <main>
    </main>
  </body>
</html>
