<!DOCTYPE html>
<html lang="en">
  <style>
    :root {
      --color1: #282828;
      --color2: #32302f;
      --sfTileBorder: #ebdbb2;
    }

    body {
      background: var(--color2);
      font-size: 20px;
      color: var(--sfTileBorder);
    }

    button,
    .bt {
      box-shadow: 0px 5px 0px 0px #282828;
      background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
      background-color: #ebdbb2;
      border-radius: 15px;
      border: 2px solid #282828;
      cursor: pointer;
      color: #32302f;
      font-family: "Montserrat";
      font-size: 20px;
      padding: 12px 20px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #ffffff;
      width: 200px;
    }

    button,
    .bt:hover {
      background: linear-gradient(to bottom, #ccc2a6 5%, #ebdbb2 100%);
      background-color: #ebdbb2;
    }

    input[type="password"] {
      font-family: "Montserrat";
      font-size: 20px;
      padding: 12px 16px;
      margin: 8px 0;
      box-sizing: border-box;
      background-color: #32302f;
      border: 1px solid var(--sfTileBorder);
      color: #ebdbb2;
      border-radius: 20px;
    }

    form {
      margin-top: 0px;
      margin-left: 300px;
    }

    #dashboard {
      display: flex;
      flex-direction: column;
      margin: 50px;
      width: 1000px;
      padding: 10px;
      border: 2px solid #ebdbb2;
      border-radius: 15px;
      background-color: #282828;
      overflow: auto;
      padding-bottom: 30px;
    }

    #photo {
      width: 200px;
      height: 200px;
      margin-top: 125px;
      margin-left: 60px;
      border-radius: 15px;
    }

    #info {
      font-family: "Montserrat";
      font-size: 20px;
      width: 200px;
      height: 100px;
      margin-top: 0;
      margin-left: 0;
    }

    #label {
      font-size: 20px;
      font-weight: 600;
    }

    td {
      min-width: 150px;
      padding: 10px;
    }

    input {
      text-align: center;
    }

    tr#label:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }

    a {
      text-decoration: none;
    }

    bt {
      width: 200px;
      height: 200px;
      margin-top: 125px;
      margin-left: 60px;
      border-radius: 15px;
    }

    #introContainer {
      background-color: var(--color2);
      padding: 10px;
    }
  </style>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Change</title>
  </head>

  <body>
    <div id="dashboard">
      <h2 style="align-self: center;">CHANGE PASSWORD</h2>
      <form action="<%=req%>" method="POST">
        <table border="0" cellpadding="3">
          <tr>
            <td>Old Password</td>
            <td>
              <input
                type="password"
                name="password"
                placeholder="Old Password"
              />
            </td>
          </tr>
          <tr>
            <td>New Password</td>
            <td>
              <input
                type="password"
                name="newPassword"
                placeholder="New Password"
              />
            </td>
          </tr>
          <tr>
            <td>Confirm New Password</td>
            <td>
              <input
                type="password"
                name="confirmNewPassword"
                placeholder="Confirm New Password"
              />
            </td>
          </tr>
          <tr>
            <td></td>
            <td style="display: flex; justify-content: flex-end;">
              <button style="border-radius: 10px; width: 150px; margin-right: 5px;" type="submit">
                submit
              </button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
