@import "colors.css";
:root{
    --color1: #282828;
    --color2: #32302f;
}
body {
    background: var(--color2);
    margin: 0;
    font-family: 'Montserrat';
    color: #ebdbb2;
    padding-left: 240px;
}
main {
    position: relative;
    height: 100vh;
}
.menu {
background: var(--color1);
height: 100vh;
width: 240px;
position: fixed;
top: 0;
left: 0;
z-index: 5;
outline: none;
}
.menu .logo {
background: rgba(0, 0, 0, 0.3);
padding: 2em 0.5em;
text-align: center;
}
.menu .logo img {
height:150px;
}
.menu ul {
list-style: none;
padding: 0.5em 0;
margin: 0;
}
.menu ul li {
padding: 0.75em 2em 0.75em 2.5em;
font-size: 1.25em;
font-weight: regular;
/* background-repeat: no-repeat;
background-position: left 10px center;
background-size: auto 20px;
transition: all 0.15s linear;
*/
cursor: pointer;
}
.menu ul li:hover {
background-color: rgba(0, 0, 0, 0.3);
}
.menu ul li:focus {
outline: none;
}