@import "colors.css";

html {
  padding: 0px;
  height: 100%;
}

body {
  height: calc(100% - 90px);
  width: calc(100% - 10px);
  background-color: var(--background);
}

h3 {
  margin: 0;
  color: var(--secondary);
}

.MainBody {
  background-color: var(--background);
  display: flex;
  min-height: calc(100% - 90px);
  width: calc(100% - 110px);
  padding: 10px 20px;
  border-radius: 1em;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 100px;
  margin-bottom: 0px;
}

.SideNavigationBar {
  background-color: var(--sidebar);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 55px;
  display: flex;
  border-radius: 1em;
  margin-top: auto;
  margin-bottom: auto;
  min-height: calc(50% - 3em);
  max-height: 400px;
  width: 60px;
  padding: 1.5em 0px;
  flex-direction: column;
  z-index: 2;
  justify-content: space-between;
}

.ImageWrap {
  align-self: center;
  /* background-color: red; */
}

.SubSideNavigationBar {
  display: flex;
  align-self: stretch;
  justify-content: space-evenly;
  flex-direction: column;
  /* background-color: purple; */
}

.CompleteOptionWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70px;
  justify-content: center;
  /* background-color: black; */
}

.SelectedPortion::before {
  position: absolute;
  content: "";
  right: 0;
  top: -1em;
  height: 1em;
  width: 1em;
  background-color: var(--background);
}

.SelectedPortion {
  position: absolute;
  display: none;
  height: calc(100% - 1em);
  width: 90%;
  align-self: flex-end;
  background-color: var(--background);
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  /* z-index: calc(inherit + 2); */
}

.SelectedPortion::after {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  right: 0;
  bottom: -1em;
  background-color: var(--background);
}

.SelectedPortion div::before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  border-bottom-right-radius: 1em;
  top: -1em;
  right: 0;
  background-color: var(--sidebar);
}

.SelectedPortion div {
  position: relative;
  height: 100%;
  width: 100%;
  /* background-color: green; */
}

.SelectedPortion div::after {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  border-top-right-radius: 1em;
  bottom: -1em;
  right: 0;
  z-index: 2;
  background-color: var(--sidebar);
}

.IconWrap {
  position: absolute;
  align-self: center;
  /* z-index: calc(inherit + 1); */
}

.SideBarIcon {
  color: white;
  align-self: center;
  /* margin-top: 40px; */
}

.RightBodyDiv {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  height: 100%;
  width: 100%;
  /* background-color: var(--background); */
}

.HeaderWrap{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100px;
  background-color: var(--background);
}

.Header {
  display: flex;
  width: calc(100% - 185px);
  min-height: 40px;
  margin-left: 140px;
  margin-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-self: center;
  justify-content: space-between;
  background-color: var(--background);
}

.SearchBar {
  background-color: var(--search);
  border-radius: 3em;
  display: flex;
  padding-left: 10px;
  width: 500px;
}

.HeaderIconDiv {
  margin-left: 30px;
  align-self: center;
  color: #AAAAAA;
}

i:hover {
  cursor: pointer;
}

.ProfilePicDiv {
  border-radius: 100%;
  height: 35px;
  width: 35px;
  margin-left: 30px;
  padding: 5px;
  background-color: var(--inactive);
}

.ElementsContainer {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  padding: 10px 0px;
  background-color: var(--primary);
  margin-bottom: 20px;
  width: 100%;
}
