<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Add</title>
  </head>

  <body style="color: white;">
    <!-- Admin id -->
    <p>Admin id: <%=admin_id%></p>
    <!-- Other Info -->
    <form action="./admin_add" method="POST">
      <label for="f_name">
        First Name:
        <input type="text" name="f_name" placeholder="First Name" required />
      </label>
      <label for="m_name">
        Middle Name:
        <input type="text" name="m_name" value="" placeholder="Middle Name" />
      </label>
      <label for="l_name">
        Last Name:
        <input type="text" name="l_name" placeholder="Last Name" required />
      </label>
      <label for="post">
        Post: <input type="text" name="post" placeholder="Post" required />
      </label>
      <label for="phone">
        Phone: <input type="text" name="phone" placeholder="Phone" required />
      </label>
      <label for="Email">
        E-Mail: <input type="text" name="Email" placeholder="E-Mail" required />
      </label>
      <button type="submit">SUBMIT</button>
    </form>
  </body>
</html>
