<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attendance Add</title>
  </head>

  <body style="color: white;">
    <!-- Info -->
    <form action="./attendance_add" method="POST">
      <label for="roll_no">
        Roll No.:
        <input type="text" name="roll_no" placeholder="Roll No." required />
      </label>
      <label for="subject_code">
        Subject Code:
        <input
          type="text"
          name="subject_code"
          placeholder="Subject Code"
          required
        />
      </label>
      <label for="attendance">
        Attendance:
        <input
          type="text"
          name="attendance"
          value=""
          placeholder="Attendance"
        />
      </label>
      <button type="submit">SUBMIT</button>
    </form>
    <button
      style="
        background-color: #282828;
        border: 1px solid #fabd2f;
        color: #ebdbb2;
        padding: 20px 20px;
        text-align: center;
        font-size: 20px;
        position: absolute;
        top: 50px;
        left: 80px;
        border-radius: 10px;
      "
      onclick="window.location.href = '/super/portal';"
    >
      Back
    </button>
  </body>
</html>
