<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Backlogs Add</title>
  </head>

  <body style="color: white;">
    <!-- Info -->
    <form action="./backlogs_add" method="POST">
      <label for="roll_no">
        Roll No.:
        <input type="text" name="roll_no" placeholder="Roll No." required />
      </label>
      <label for="subject_code">
        Subject Code:
        <input
          type="text"
          name="subject_code"
          placeholder="Subject Code"
          required
        />
      </label>
      <button type="submit">SUBMIT</button>
    </form>
  </body>
</html>
