<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Batch Subjects Edit</title>
  </head>

  <body style="color: white;">
    <!-- Serial No. -->
    <p>Serial No.: <%=s_no%></p>
    <!-- Other Info -->
    <form action="./batch_subjects" method="POST">
      <label for="batch_code">
        Batch Code:
        <input type="text" value="<%=batch_code%>" name="batch_code" required />
      </label>
      <label for="subject_code">
        Subject Code:
        <input
          type="text"
          value="<%=subject_code%>"
          name="subject_code"
          required
        />
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
