<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Club Edit</title>
  </head>

  <body style="color: white;">
    <!-- Club Id -->
    <p>Club Id: <%=club_id%></p>
    <!-- Other Info -->
    <form action="./club" method="POST">
      <label for="club_name">
        Club Name:
        <input type="text" value="<%=club_name%>" name="club_name" required />
      </label>
      <label for="club_room_no">
        Room No.:
        <input
          type="text"
          value="<%=club_room_no%>"
          name="club_room_no"
          required
        />
      </label>
      <label for="faculty_coordinator">
        Faculty Coordinator:
        <input
          type="text"
          value="<%=faculty_coordinator%>"
          name="faculty_coordinator"
          required
        />
      </label>
      <button type="submit">Submit</button>
    </form>
    <button
      style="
        background-color: #282828;
        border: 1px solid #fabd2f;
        color: #ebdbb2;
        padding: 20px 20px;
        text-align: center;
        font-size: 20px;
        position: absolute;
        top: 50px;
        left: 80px;
        border-radius: 10px;
      "
      onclick="window.location.href = '/super/portal';"
    >
      Back
    </button>
  </body>
</html>
