<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Research Proposers Add</title>
  </head>

  <body style="color: white;">
    <!-- Info -->
    <form action="./research_proposers_add" method="POST">
      <label for="research_id">
        Research Id:
        <input
          type="text"
          name="research_id"
          placeholder="Research Id"
          required
        />
      </label>
      <label for="faculty_id">
        Faculty Id:
        <input
          type="text"
          name="faculty_id"
          placeholder="Faculty Id"
          required
        />
      </label>
      <button type="submit">SUBMIT</button>
    </form>
  </body>
</html>
