<header>
  <img src="#" alt="Logo" class="logo" />
  <nav class="navigation">
    <ul>
      <li class="nav-list">
        <a href="#" class="nav-link">FACULTY </a>
      </li>
      <li class="nav-list">
        <a href="#" class="nav-link">UPCOMING EVENTS </a>
      </li>
      <li class="nav-list">
        <a href="#" class="nav-link">CALENDAR </a>
      </li>
      <li class="nav-list">
        <a href="#" class="nav-link">ATTENDANCE </a>
      </li>
      <li class="nav-list">
        <a href="#" class="nav-link">GRADES </a>
      </li>
      <li class="nav-list">
        <a href="#" class="nav-link">ACADEMIC CALENDAR </a>
      </li>
      <li class="nav-list">
        <a href="#" class="nav-link">DATESHEET </a>
      </li>
      <li class="nav-list">
        <a href="#" class="nav-link">FEEDBACK FORM </a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <div class="student-info">
    <img
      src="./student_portal/assets/profile photo.jpeg"
      alt="Student's image"
      class="student-image"
    />
    <div class="name">
      <p><%=name%></p>
      <p><%=roll%></p>
      <p>Semester-<%=sem%></p>
    </div>
  </div>
</main>
