<style>
  label {
    margin-right: 5px;
  }

  .LeftContainer {
    flex: 3;
    display: flex;
    flex-direction: column;
  }

  .RightContainer {
    flex: 2;
  }

  .LeftContainer div {
    display: flex;
    width: calc(100% - 20px);
    padding: 0px 10px;
    border-radius: 1em;
    justify-content: space-between;
    background-color: var(--sfTileBackground);
    border: 2px solid var(--sfTileBorder);
    margin-bottom: 20px;
  }

  .RightContainer {
    margin-left: 60px;
    border-radius: 1em;
    display: flex;
    width: calc(100% - 40px);
    flex-direction: column;
    border: 2px solid var(--sfTileBorder);
    background-color: var(--sfTileBackground);
    padding: 10px;
  }

  .RightContainer div {
    margin-left: 10px;
    border-radius: 1em;
    display: flex;
    width: calc(100% - 40px);
    flex-direction: column;
    background-color: var(--sfTileBackground);
    padding: 10px;
    height: calc(100% - 20px);
  }

  .UpcomingEventsDiv {
    border: 0;
    border-bottom: 3px solid var(--sfTileBorder);
  }

  .LeftContainer div .CollegeNewsDiv {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    border-radius: 0;
    padding-bottom: 5px;
    border: 0;
    border-bottom: 3px solid var(--sfTileBorder);
  }

  .CollegeNewsDiv p {
    font-size: small;
  }

  .CollegeNewsDiv a {
    font-size: medium;
    text-decoration: none;
    font-weight: bold;
  }
</style>
<% var f_name = "Vishnu";%>
<div style="display: flex; width: 100%; justify-content: space-between;">
  <div class="LeftContainer">
    <div>
      <h1 style="color: var(--secondary);">
        Hello, Dr. <%=f_name%>!<br />
        Welcome Back!
      </h1>
      <img src="/assets/man_with_laptop.png" height="150px" />
    </div>
    <div style="flex-direction: column; padding: 10px;">
      <h2 style="align-self: center; color: var(--secondary);">
        Class Schedule
      </h2>
      <table style="color: var(--sfTileBorder);">
        <tbody>
          <tr>
            <td><strong>Time</strong></td>
            <td><strong>Subject</strong></td>
          </tr>
          <% for (time in facultySchedule) { %>
          <tr>
            <td><strong><%=time%></strong></td>
            <td><%=facultySchedule[time]%></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <div style="flex-direction: column; margin-bottom: 0px;">
      <h2 style="align-self: center; color: var(--secondary);">
        College News
      </h2>
      <div class="CollegeNewsDiv">
        <p style="color: #ffffff;">02 May 2020</p>
        <a
          href="https://www.iiitm.ac.in/index.php/en/component/content/category/79-latest-news?Itemid=437"
          target="_blank"
          >Essential Items Distribution Camp Organized by ABV-IIITM, Gwalior</a
        >
      </div>
      <div class="CollegeNewsDiv">
        <p style="color: #ffffff;">17 April 2020</p>
        <a
          href="https://www.iiitm.ac.in/index.php/en/component/content/article/79-latest-news/293-notice-regarding-covid-19-dated-27th-march-2020?Itemid=437"
          target="_blank"
          >Notice regarding Covid-19 dated 17.04.2020</a
        >
      </div>
      <div class="CollegeNewsDiv">
        <p style="color: #ffffff;">27 March 2020</p>
        <a
          href="https://www.iiitm.ac.in/index.php/en/component/content/category/79-latest-news?Itemid=437"
          target="_blank"
          >Notice regarding Covid-19 dated 27th March 2020</a
        >
      </div>
      <div class="CollegeNewsDiv">
        <p style="color: #ffffff;">19 March 2020</p>
        <a
          href="https://www.iiitm.ac.in/index.php/en/component/content/article/79-latest-news/290-notice-regarding-covid-19?Itemid=437"
          target="_blank"
          >Notice Regarding COVID-19</a
        >
      </div>
    </div>
  </div>
  <div class="RightContainer">
    <div>
      <h2 style="align-self: center; color: var(--secondary);">
        Upcoming Events!
      </h2>
      <div
        class="UpcomingEventsDiv"
        style="height: fit-content; border-radius: 0px; padding-bottom: 0px;"
      >
        <h2>
          Webinar on Advanced Front End Web Development With React
        </h2>
      </div>
      <div
        class="UpcomingEventsDiv"
        style="height: fit-content; border-radius: 0px; padding-bottom: 0px;"
      >
        <h2>
          GDG Gwalior, Blockchain 101 on Tezos
        </h2>
      </div>
      <div
        class="UpcomingEventsDiv"
        style="height: fit-content; border-radius: 0px; padding-bottom: 0px;"
      >
        <h2>
          Opening Lockdown,
        </h2>
      </div>
    </div>
  </div>
</div>
